name: edm
dataloader:
  sample_group_size: 4
  each_prompt_sample: 128
  micro_batch_size: 512
  epoches: 100
  smiles_path: "./Model/EDM/qm9/temp/qm9_smiles.pickle"
model:
  config: "./pretrained/edm/edm_qm9/args.pickle"
  model_path: "./pretrained/edm/edm_qm9/generative_model_ema.npy"
  time_step: 1000
train:
    adv_clip_max: 5
    max_grad_norm: 1
    learning_rate: 0.00001
    adam_beta1: 0.9
    adam_beta2: 0.999
    adam_weight_decay: 0.0001
    adam_epsilon: 0.00000001
    clip_range: 0.2
    train_micro_batch_size: 512
wandb:
    wandb_project: "ddpo"
    wandb_name: "edm-ddp-run"