defaults:
  - _self_

name: edm
seed: 42
save_path: null
resume: false
checkpoint_path: null

dataloader:
  sample_group_size: 4
  each_prompt_sample: 128
  micro_batch_size: 512
  epoches: 100
  smiles_path: "qm9/temp/qm9_smiles.pickle"

model:
  config: "./pretrained/edm/edm_qm9/args.pickle"
  model_path: "./pretrained/edm/edm_qm9/generative_model_ema.npy"
  time_step: 1000

train:
  adv_clip_max: 5
  max_grad_norm: 1
  learning_rate: 0.000005
  adam_beta1: 0.9
  adam_beta2: 0.999
  adam_weight_decay: 0.0001
  adam_epsilon: 0.00000001
  clip_range: 0.15
  train_micro_batch_size: 512

reward:
  type: uma
  mlff_model: uma-s-1p1
  force_clip_threshold: null
  use_energy: true
  force_weight: 1.0
  energy_weight: 1.0
  energy_transform_offset: 10000.0
  energy_transform_scale: 1000.0
  shaping:
    enabled: true
    method: potential
    gamma: 1.0
    horizon: 200
    weight: 1.0
    skip_prefix: 800
    max_atoms_per_call: 200000

wandb:
  enabled: true
  wandb_project: "ddpo"
  wandb_name: "edm-ddp-run"

hydra:
  job:
    chdir: false
